backcall==0.2.0
certifi==2021.5.30
charset-normalizer==2.0.6
dataclasses==0.8
decorator==5.0.9
docopt==0.6.2
entrypoints==0.3
eventkit==0.8.8
ib-insync==0.9.63
idna==3.2
ipykernel==5.5.5
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==7.0.2
jupyter-core==4.7.1
nest-asyncio==1.5.1
numpy==1.19.5
pandas==1.1.5
parso==0.8.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
pipreqs==0.4.10
prompt-toolkit==3.0.20
ptyprocess==0.7.0
Pygments==2.10.0
python-dateutil==2.8.2
pytz==2021.1
pyzmq==22.2.1
requests==2.26.0
scipy==1.5.4
six==1.16.0
statsmodels==0.12.2
stocktrends==0.1.5
TA-Lib==0.4.21
tornado==6.1
traitlets==4.3.3
urllib3==1.26.7
wcwidth==0.2.5
yarg==0.1.9
